/*===============================
=            JOURNAL            =
===============================*/

.blog {

	#main {

		#first, #second {
			float: left;
			width: 100%;			
		}

		#first {
			margin-bottom: 60px;
			padding: 0 0 60px 0;
			border-bottom: 1px solid #ccc;

			article {

				&:first-of-type {
					width: 100%;
					min-height: 0;

					.wp-post-image {
						display: none;
					}

					.entry-header {
						@include span-columns(1);

						@include media($medium-screen-up) {
							@include span-columns(3);
						}

						@include media($large-screen-up) {
							@include span-columns(4);
						}

						h2 {
							color: #333;
						}
					}

					.entry-content {
						@include span-columns(1);

						@include media($medium-screen-up) {
							@include span-columns(5);
						}

						@include media($large-screen-up) {
							@include span-columns(8);
						}
					}
				}
			}
		}

		article {

			h2 {
				line-height: 1.3;
			}

			.readmore {
				display: inline-block;
				margin-top: 20px;
				background: $brand-primary;
				color: white;
				font-weight: 600;
				padding: 5px 10px;
			}
		}
	}
}


.single {

	article {

		h1 {
			line-height: 1.3;
			font-size: 27px;
			margin: 0;
			color: $brand-primary;
		}

		header {
			margin-bottom: 20px;
		}
	}
}