/*=============================
=            ABOUT            =
=============================*/

.start-a-project {

	#main {
		padding-top: 30px;

		.gfield_html {
			border-bottom: 1px solid #ccc;
			padding-bottom: 30px;
		}
	}
}