/*============================
=            Work            =
============================*/

.work {

	#main {
		padding: 20px;

		#macy {

			.item {
				position: relative;

				&.testimomial {
					height: 400px;
				}

				a {
					display: block;
				}

				.title {
					position: absolute;
					top: 0;
					width: 100%;
					height: 100%;
					z-index: 1;
					text-align: left;
					transition: all $base-transition;

					.wrapped {
						position: absolute;
						overflow: hidden;
						padding: 20px;
						bottom: 0;
					}

					h2 {
						color: white;
						font-size: 22px;
						margin: 0;
						text-transform: capitalize;
					}

					h4 {
						color: #eeeeee;
						font-family: $base-font-family;
						margin: 0;
						font-size: 14px;
						transition: all $base-transition;
						max-height: 0;
						opacity: 0;
					}

					&:hover {
						background-color: rgba(22,18,14,0.8);

						h4 {
							max-height: 200px;
							margin-bottom: 0;
							opacity: 1;
						}
					}
				}

				img {
					display: block;
				}
			}
		}
	}

}